@model Planiranje.Models.Ucenici.PracenjeUcenikaModel
@{
    Layout = null;
}
<p>
    <a onclick="showModal('@Url.Action("DodajNeposredniRad","PracenjeUcenika", new { ucenik=Model.Ucenik.Id_ucenik, razred = Model.Razred.Id})')" class="btn btn-primary btn-xs btn-grad"> Novi zapis</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTable3">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Oblici i način rada s učenikom, učiteljima, roditeljima/starateljima i drugima </th>
                <th>Aktivnost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NeposredniRadovi)
            {
            <tr>
                <td class="col-md-1">@item.Datum.ToShortDateString()</td>
                <td class="col-md-9">@item.Napomena</td>
                <td class="col-md-2">
                    <a onclick="showModal('@Url.Action("UrediNeposredniRad","PracenjeUcenika", new { id=item.Id})')" class="btn btn-primary btn-xs btn-grad">Uredi</a>
                    <a onclick="showModal('@Url.Action("ObrisiNeposredniRad","PracenjeUcenika", new { id=item.Id})')" class="btn btn-danger btn-xs btn-grad">Obriši</a>
                </td>
            </tr>           
            }
        </tbody>
    </table>
</div>
