@model Planiranje.Models.GodisnjiModel
@{
	Page.Title = ViewBag.Title;
}

@Html.Raw(TempData["alert"])
<div class="inner">
	<div class="panel-body">
		<div class="pull-left">
			<h3> Detalji @Html.DisplayFor(modelitem => modelitem.GodisnjiPlan.Ak_godina) </h3>
		</div>
		<div class="pull-right">
			<input type="button" class="btn btn-danger btn-md" value="Ispiši" style="margin-top:15px" 
				   onclick="location.href='@Url.Action("Ispis", "GodisnjiPlan", new { id = @Html.DisplayFor(modelitem => modelitem.GodisnjiPlan.Id_god) })'" />
		</div>
		<br>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-bordered text-center" id="dataTables-example">
						<thead>
							<tr>
								<td class="col-lg-1">Mjesec</td>
								<td class="col-lg'1">Ukupno</td>
								<td class="col-lg-1">Radnih</td>
								<td class="col-lg-1">Subota</td>
								<td class="col-lg-1">Nedjelja</td>
								<td class="col-lg-1">Blagdana</td>
								<td class="col-lg-1">Nastavnih</td>
								<td class="col-lg'1">Praznika</td>
								<td class="col-lg-1">Sati</td>
								<td class="col-lg-1">Dani odmora</td>
								<td class="col-lg-1">Sati odmora</td>
								<td class="col-lg-1">Mj. fond sati</td>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.GodisnjiDetalji)
							{
								<tr>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Naziv_mjeseca)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Ukupno_dana)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Radnih_dana)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Subota_dana)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Nedjelja_dana)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Blagdana_dana)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Nastavnih_dana)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Praznika_dana)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Br_sati)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Odmor_dana)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Odmor_sati)</td>
									<td class="col-lg-1">@Html.DisplayFor(modelitem => item.Mj_fond_sati)</td>
								</tr>
							}
						</tbody>
					</table>
					<hr>
					<table class="table table-bordered" id="dataTables-example" style="width:33%; min-width:200px">
						<tr>
							<th class="col-lg-1">Broj radnih dana</th>
							<td class="col-lg-1">@Html.DisplayFor(modelitem => modelitem.GodisnjiPlan.Br_radnih_dana)</td>
						</tr>
						<tr>
							<th class="col-lg-1">Broj dana GO</th>
							<td class="col-lg-1">@Html.DisplayFor(modelitem => modelitem.GodisnjiPlan.Br_dana_godina_odmor)</td>
						</tr>
						<tr>
							<th class="col-lg-1">Ukupno radnih dana</th>
							<td class="col-lg-1">@Html.DisplayFor(modelitem => modelitem.GodisnjiPlan.Ukupni_rad_dana)</td>
						</tr>
						<tr>
							<th class="col-lg-1">Godisnji fond sati</th>
							<td class="col-lg-1">@Html.DisplayFor(modelitem => modelitem.GodisnjiPlan.God_fond_sati)</td>
						</tr>

					</table>


					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var rowDelete;
	$(document).ready(function () {
		$("#btnCreateAsset").click(function (e) {
			var url = $(this).attr("data-url");
			$.ajax({
				url: url,
				success: function (data) {
					$('#assetContainer').html(data);
					$('#assetModal').modal('show');
				},
				error: function (xhr, ajaxOptions, thrownError) { alert(xhr.responseText); }
			});
		});

		$('#dataTables-example').on("click", "#editAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});

		$('#dataTables-example').on("click", "#deleteAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});

		$('#dataTables-example').on("click", "#detailsAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});
	});
</script>

<script type="text/javascript">
	function CreateSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}

	function EditSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}

	function DeleteSuccess() {
		location.reload(true);
	}

	function DetailsSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}
</script>
