@model PagedList.IPagedList<Planiranje.Models.Godisnji_plan>
@using PagedList.Mvc;

@{
	Page.Title = ViewBag.Title;
}

@Html.Raw(TempData["alert"])
<div class="inner">
	<div class="row">
		<div class="col-lg-12">
			<h3> Pregled godišnjih planova </h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>
						<div class="pull-left">
							<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-url="@Url.Action("NoviPlan", "GodisnjiPlan")" id="btnCreateAsset">
								Novi plan
							</button>
							<span class="glyphicon glyphicon-print"></span>
							@Html.ActionLink("Ispiši listu", "Ispis", new { target = "blank" })
						</div>
						<div class="pull-right">
							@using (Html.BeginForm("Index", "GodisnjiPlan", FormMethod.Get))
		{
					<p>
						@Html.TextBox("Search", ViewBag.FilterValue as string, new { @class = "search-bar" })
						<input class="btn btn-primary btn-md" type="submit" value="Trazi" />
					</p>
}
						</div>
						<br>
					</div>
					@Html.Partial("Table", Model)
					<div id="Paginator">
						Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount
						@Html.PagedListPager(Model, Page_No => Url.Action("Index",
								  new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
					</div>
					<div class="modal fade" id="assetModal" tabindex="-1" role="dialog" aria-labelledby="assetModal" aria-hidden="true" data-backdrop="static">
						<div id="assetContainer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var rowDelete;
	$(document).ready(function () {
		$("#btnCreateAsset").click(function (e) {
			var url = $(this).attr("data-url");
			$.ajax({
				url: url,
				success: function (data) {
					$('#assetContainer').html(data);
					$('#assetModal').modal('show');
				},
				error: function (xhr, ajaxOptions, thrownError) { alert(xhr.responseText); }
			});
		});

		$('#dataTables-example').on("click", "#editAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});

		$('#dataTables-example').on("click", "#deleteAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});
	});
</script>

<script type="text/javascript">
	function CreateSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}

	function EditSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}

	function DeleteSuccess() {
		location.reload(true);
	}
</script>
