@model PagedList.IPagedList<Planiranje.Models.Godisnji_plan>

<table class="table table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <td class="col-lg-1">
                @Html.ActionLink("Id god", "Index", "GodisnjiPlan", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>            
            <td class="col-lg-1">
                @Html.ActionLink("Ak. godina", "Index", "GodisnjiPlan", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-2">
                @Html.ActionLink("Br. dana god. odmora", "Index", "GodisnjiPlan", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-2">
                @Html.ActionLink("Br. radnih dana", "Index", "GodisnjiPlan", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-2">
                @Html.ActionLink("God. fond sati", "Index", "GodisnjiPlan", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-2">
                @Html.ActionLink("Ukupno radnih dana", "Index", "GodisnjiPlan", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-2">
                Akcija
            </td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Id_god)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Ak_godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Br_dana_godina_odmor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Br_radnih_dana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.God_fond_sati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ukupni_rad_dana)
            </td>
            <td>
				<div class="pull-right">
					<input type="button" class="btn btn-primary btn-xs" value="Uredi" onclick="location.href='@Url.Action("Edit","GodisnjiPlan",new { id = item.Id_god })'" />
					<a data-toggle="modal" data-url="@Url.Action("Delete","GodisnjiPlan",new { id = item.Id_god })" id="deleteAsset" class="btn btn-danger btn-xs ">Obriši</a>
					<input type="button" class="btn btn-primary btn-xs" value="Detalji" onclick="location.href='@Url.Action("Details","GodisnjiPlan",new { id = item.Id_god })'" />
				</div>
            </td>
        </tr>
        }
    </tbody>
</table>