@model List<Planiranje.Models.Godisnji_plan>

<table class="table table-bordered" id="dataTables-example">
	<thead>
		<tr>
			<td class="col-lg-1">
				#
			</td>
			<td class="col-lg-1">
				Ak. godina
			</td>
			<td class="col-lg-2">
				Br. dana god. odmora
			</td>
			<td class="col-lg-2">
				Br. radnih dana
			</td>
			<td class="col-lg-2">
				God. fond sati
			</td>
			<td class="col-lg-2">
				Ukupno radnih dana
			</td>
			<td class="col-lg-2">
				Akcija
			</td>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelitem => item.Redni_broj)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ak_godina)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Br_dana_godina_odmor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Br_radnih_dana)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.God_fond_sati)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ukupni_rad_dana)
				</td>
				<td>
					<div class="pull-right">
						<input type="button" class="btn btn-primary btn-xs" value="Uredi" onclick='updatePlan("@Url.Action("Edit","GodisnjiPlan",new { id = item.Id_god })")' />
						<input type="button" class="btn btn-primary btn-xs" value="Detalji" onclick='showGodDetails("@Url.Action("Details","GodisnjiPlan",new { id = item.Id_god })")' />
						<input type="button" class="btn btn-danger btn-xs" value="Briši" onclick='deleteGodDetails("@Url.Action("Delete","GodisnjiPlan",new { id = item.Id_god })")' />
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="modal fade" id="assetModal2" tabindex="-1" role="dialog" aria-labelledby="assetModal" aria-hidden="true" data-backdrop="static">
	<div id="assetContainer2"></div>
</div>
<script>
	function showGodDetails(value) {
		$.ajax({
			url: value,
			success: function (data, text) {
				$("#content").html(data);
			},
			error: function (request, status, error) {
				alert(request.responseText);
			}
		});
	}
	function deleteGodDetails(value) {
		$.ajax({
			url: value,
			success: function (data, text) {
				$("#assetContainer2").html(data);
				$('#assetModal2').modal('show');
			},
			error: function (request, status, error) {
				alert(request.responseText);
			}
		});
	}
	function updatePlan(url) {
		$.ajax({
			url: url,
			success: function (data, text) {
				$("#content").html(data);
			},
			error: function (request, status, error) {
				alert(request.responseText);
			}
		});
	}
</script>
