@model List<Planiranje.Models.Godisnji_plan>

<table class="table table-bordered" id="dataTable">
	<thead>
        <tr>
            <td class="col-lg-1">#</td>
            <td class="col-lg-2">Ak. godina</td>
            <td class="col-lg-7">Ak. godina</td>            
            <td class="col-lg-2">Akcija</td>
        </tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
        <tr>
            <td>@Html.DisplayFor(modelitem => item.Redni_broj)</td>
            <td>@Html.DisplayFor(modelItem => item.Ak_godina)</td>
            <td>@Html.DisplayFor(modelItem => item.Naziv)</td>            
            <td>
                <div class="pull-right">
                    <input type="button" class="btn btn-default btn-xs" value="Uredi" onclick='reloadPage("@Url.Action("Edit","GodisnjiPlan",new { id = item.Id_god })")' />
                    <input type="button" class="btn btn-primary btn-xs" value="Detalji" onclick='reloadPage("@Url.Action("Details","GodisnjiPlan",new { id = item.Id_god })")' />
                    <input type="button" class="btn btn-danger btn-xs" value="Briši" onclick='showModal("@Url.Action("Delete","GodisnjiPlan",new { id = item.Id_god })")' />
                </div>
            </td>
        </tr>
		}
	</tbody>
</table>
