@model Planiranje.Models.GodisnjiModel

@{
	Page.Title = ViewBag.Title;
	int i = 0;
}


@Html.Raw(TempData["alert"])
<div class="inner">
	<div class="row">
		<div class="col-lg-12">
			<h3> @ViewBag.Title </h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					@using (Ajax.BeginForm("Edit", "GodisnjiPlan", new AjaxOptions
	{
		HttpMethod = "Post",
		OnSuccess = "CreateSuccess"
	}, new { @class = "form-horizontal", role = "form" }))
	{



				<div class="modal-body">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.GodisnjiPlan.Id_god)
					@Html.HiddenFor(model => model.GodisnjiPlan.Id_pedagog)
					@Html.HiddenFor(model => model.GodisnjiPlan.Br_radnih_dana)
					@Html.HiddenFor(model => model.GodisnjiPlan.God_fond_sati)
					@Html.HiddenFor(model => model.GodisnjiPlan.Ukupni_rad_dana)
					@Html.HiddenFor(model => model.GodisnjiPlan.Br_dana_godina_odmor)
					<div class="form-group">
						@Html.LabelFor(model => model.GodisnjiPlan.Ak_godina, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.GodisnjiPlan.Ak_godina, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.GodisnjiPlan.Ak_godina, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<hr>
				<div id="exTab2">
						<ul class="nav nav-tabs">
							@foreach(var mjesec in ViewBag.Mjeseci)
							{
								if (i == 0)
								{
									@:<li class="active">
								}
								else
								{
									@:<li>
								}
									<a href="#@(++i)" data-toggle="tab">@mjesec.Value</a>
								@:</li>
							}
						</ul>
						<div class="tab-content ">
							@{
								i = 0;
							}
							@foreach(var mjesec in ViewBag.Mjeseci)
							{
								if (i == 0)
								{
									@:<div class="tab-pane active" id="@(i+1)">
								}
								else
								{
									@:<div class="tab-pane" id="@(i+1)">
								}
										  <div class="row">
										  	@Html.HiddenFor(model => model.GodisnjiDetalji[i].Naziv_mjeseca, new { @Value = mjesec.Value })
										  @Html.HiddenFor(model => model.GodisnjiDetalji[i].Mjesec, new { @Value = mjesec.Key })
										  @Html.HiddenFor(model => model.GodisnjiDetalji[i].Id)
										  @Html.HiddenFor(model => model.GodisnjiDetalji[i].Id_god)
										  @Html.HiddenFor(model => model.GodisnjiDetalji[i].Br_sati)
										  @Html.HiddenFor(model => model.GodisnjiDetalji[i].Odmor_sati)
										  @Html.HiddenFor(model => model.GodisnjiDetalji[i].Mj_fond_sati)
										  @Html.HiddenFor(model => model.GodisnjiDetalji[i].Ukupno_dana)
										  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
										  <div class="form-group">
										  	@Html.LabelFor(model => model.GodisnjiDetalji[i].Radnih_dana, htmlAttributes: new { @class = "control-label col-md-2" })
										  <div class="col-md-2">
										  	@Html.EditorFor(model => model.GodisnjiDetalji[i].Radnih_dana, new { htmlAttributes = new { @class = "form-control", onkeydown = "return ValidateNumber(event);" } })
										  </div>
										  @Html.LabelFor(model => model.GodisnjiDetalji[i].Subota_dana, htmlAttributes: new { @class = "control-label col-md-2" })
										  <div class="col-md-2">
										  	@Html.EditorFor(model => model.GodisnjiDetalji[i].Subota_dana, new { htmlAttributes = new { @class = "form-control", onkeydown = "return ValidateNumber(event);" } })
										  </div>
										  @Html.LabelFor(model => model.GodisnjiDetalji[i].Nedjelja_dana, htmlAttributes: new { @class = "control-label col-md-2" })
										  <div class="col-md-2">
										  	@Html.EditorFor(model => model.GodisnjiDetalji[i].Nedjelja_dana, new { htmlAttributes = new { @class = "form-control", onkeydown = "return ValidateNumber(event);" } })
										  </div>
										  </div>
										  </div>
								<div class="row">
									<div class="form-group">
										@Html.LabelFor(model => model.GodisnjiDetalji[i].Blagdana_dana, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-2">
											@Html.EditorFor(model => model.GodisnjiDetalji[i].Blagdana_dana, new { htmlAttributes = new { @class = "form-control", onkeydown = "return ValidateNumber(event);" } })
											</div>
										@Html.LabelFor(model => model.GodisnjiDetalji[i].Nastavnih_dana, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-2">
											@Html.EditorFor(model => model.GodisnjiDetalji[i].Nastavnih_dana, new { htmlAttributes = new { @class = "form-control", onkeydown = "return ValidateNumber(event);" } })
										</div>
										@Html.LabelFor(model => model.GodisnjiDetalji[i].Praznika_dana, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-2">
											@Html.EditorFor(model => model.GodisnjiDetalji[i].Praznika_dana, new { htmlAttributes = new { @class = "form-control", onkeydown = "return ValidateNumber(event);" } })
										</div>
										</div>
									</div>
								<div class="row">
									<div class="form-group">
										@Html.LabelFor(model => model.GodisnjiDetalji[i].Odmor_dana, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-2">
											@Html.EditorFor(model => model.GodisnjiDetalji[i].Odmor_dana, new { htmlAttributes = new { @class = "form-control", onkeydown = "return ValidateNumber(event);" } })
										</div>
									</div>
								</div>
							@:</div>
							i++;
							}
						</div>
					</div>

					
					<div class="modal-footer">
						<input type="button" class="btn btn-default" value="Odustani" onclick="location.href='@Url.Action("Index", "GodisnjiPlan")'" />
						<input type="submit" class="btn btn-primary" value="Spremi" />
					</div>

					}
				</div>
				</div>
				</div>
		</div>
	</div>
</div>

<script>
	var rowDelete;
	$(document).ready(function () {
		$("#btnCreateAsset").click(function (e) {
			var url = $(this).attr("data-url");
			$.ajax({
				url: url,
				success: function (data) {
					$('#assetContainer').html(data);
					$('#assetModal').modal('show');
				},
				error: function (xhr, ajaxOptions, thrownError) { alert(xhr.responseText); }
			});
		});

		$('#dataTables-example').on("click", "#editAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});

		$('#dataTables-example').on("click", "#deleteAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});

		$('#dataTables-example').on("click", "#detailsAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});
	});
</script>

<script type="text/javascript">
	function CreateSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}

	function EditSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}

	function DeleteSuccess() {
		location.reload(true);
	}

	function DetailsSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}
</script>
