@model Planiranje.Models.Ucenici.PromatranjeUcenikaModel
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Novo promatranje</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "novaBiljeska", @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(model => model.PromatranjeUcenika.Id, new { Value = 0 })
            @Html.HiddenFor(model => model.PromatranjeUcenika.Id_ucenik_razred, new { Value = ViewBag.id })
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!--zaglavlje-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PromatranjeUcenika.Cilj, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.PromatranjeUcenika.Cilj, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.PromatranjeUcenika.SocStatusUcenika, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.PromatranjeUcenika.SocStatusUcenika, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>                        
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PromatranjeUcenika.Nadnevak, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.PromatranjeUcenika.Nadnevak, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PromatranjeUcenika.Vrijeme, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-lg-8">
                                @Html.EditorFor(model => model.PromatranjeUcenika.Vrijeme, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>                
                <!--kraj zaglavlja-->
                <!--početak osnovnog dijela-->
                <div class="row">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        Spremnost za kontaktiranje
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.TextAreaFor(model => model.PromatranjeUcenika.Spremnost, new { @class = "edit-opis", rows = "5", placeholder="Spremnost za kontaktiranje: kako se učenik odnosi prema drugim učenicima, je li rezerviran, povučen, osamljen, spreman za kontakt" })
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        Prilagodljivost
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.TextAreaFor(model => model.PromatranjeUcenika.Prilagodljivost, new { @class = "edit-opis", rows = "5", placeholder="Prilagodljivost: popustljiv, vođa, svojeglav" })
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        Odnos prema drugima
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.TextAreaFor(model => model.PromatranjeUcenika.Odnos, new { @class = "edit-opis", rows = "5", placeholder="Odnos prema drugima: bezobziran, pun ljubavi, grub, proračunat, mijenja prijatelje..." })
                                </div>
                            </div>
                        </div>
                        <!--nastavak-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                        Doprinos životu grupe
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.TextAreaFor(model => model.PromatranjeUcenika.Doprinos, new { @class = "edit-opis", rows = "5", placeholder="Doprinos životu grupe: aktivan, kritizira, napada, ogovara, pouzdan je, spreman pomoći" })
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                        Opis promatrane situacije
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.TextAreaFor(model => model.PromatranjeUcenika.Opis, new { @class = "edit-opis", rows = "5", placeholder="Opis promatrane situacije" })
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                        Zaključak
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.TextAreaFor(model => model.PromatranjeUcenika.Zakljucak, new { @class = "edit-opis", rows = "5", placeholder="Zaključak (podaci o učenju, vanjski i unutarnji utjecaji praćenja)" })
                                </div>
                            </div>
                        </div>
                        <!--kraj nastavka-->
                    </div>
                </div>
                <!--kraj osnovnog dijela-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                    <input type="button" class="btn btn-primary" value="Spremi" onclick='zatvoriModal("@Url.Action("NovaBiljeska","UcenikBiljeska")","#novaBiljeska","#biljeska","Nova bilješka je spremljena")' />
                </div>
            </div>
        }
    </div>
</div>

