@model Planiranje.Models.SSModel

@{
    Page.Title = "Detalji plana za srednju školu";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    int godina = Model.SS_Plan.Ak_godina + 1;
}

<div class="inner">
    @if (TempData["poruka"] != null)
    {
        <div id="poruka" style="display:none">1</div>
    }
    <div class="row">
        <div class="col-lg-12">
            <h3>Detalji plana za srednju školu: <b>@Model.SS_Plan.Naziv</b></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-2">
                            <p>Školska godina</p>
                            <b>@Model.SS_Plan.Ak_godina./@godina.</b>
                        </div>
                        <div class="col-lg-2 pull-right">                            
                            <input type="button" class="btn btn-info btn-sm" value="Natrag" onclick='reloadPage("@Url.Action("Index", "PlanSs")")' />
                            <a href="@Url.Action("Ispis", "PlanSs", new { id = Model.SS_Plan.Id_plan })" target="_blank" class="btn btn-success btn-sm">Ispiši</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pull-left">
                                <input type="button" class="btn btn-primary btn-xs" value="Novi detalj" onclick="showModal('@Url.Action("NoviDetalji","PlanSs",new { id=Model.SS_Plan.Id_plan})')" />
                            </div>                           
                            <br>
                        </div>
                    </div>
                    <br>
                    @Html.Partial("TableDetails", Model)
                    <br>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	$(document).ready(function () {
		$('#dataTables-example').dataTable();
	});
</script>
<script>
    $(document).ready(function () {
        if ($("#poruka").text() == "1") {
            showSnackBar("@TempData["poruka"]");
        }
    });
</script>
