@model Planiranje.Models.SSModel


@Html.HiddenFor(model => Model.ID_GODINA)
@Html.HiddenFor(model => Model.ID_PLAN)
<table class="table table-bordered table-hover" id="dataTables-example">
	<thead>
		<tr>
			<td class="col-lg-1">#</td>
			<td class="col-lg-2">Aktivnosti</td>
			<td class="col-lg-2">Suradnici</td>
			<td class="col-lg-2">Područja</td>
			<td class="col-lg-1">Vrijeme</td>
			<td class="col-lg-1">Sati</td>
			<td class="col-lg-2">Bilješka</td>
			<td class="col-lg-1">Akcija</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.SS_Podrucja)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Red_br)</td>
				<td>@Html.DisplayFor(modelItem => item.Opis_podrucje)</td>
				<td>@Html.DisplayFor(modelItem => item.Svrha)</td>
				<td>@Html.DisplayFor(modelItem => item.Zadaca)</td>
				<td>@Html.DisplayFor(modelItem => item.Sadrzaj)</td>
				<td>@Html.DisplayFor(modelItem => item.Oblici)</td>
				<td>@Html.DisplayFor(modelItem => item.Suradnici)</td>
				<td>
					<div class="pull-right">
						<input type="button" class="btn btn-default btn-xs" value="Uredi" onclick='showModal("@Html.Raw(@Url.Action("UpdateNoviDetalji","MjesecniPlan", new { id = item.ID_plan, id_plan = item.ID_plan, id_god = Model.ID_GODINA }))")' />
						<input type="button" class="btn btn-danger btn-xs" value="Briši" onclick='showModal("@Html.Raw(@Url.Action("DeleteDetails","MjesecniPlan", new { id = item.ID_plan, id_god = Model.ID_GODINA }))")' />
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
