@model  Planiranje.Models.SSModel

<table class="table table-bordered table-hover" id="dataTable">
    <thead>
        <tr>
            <td class="col-lg-1">#</td>
            <td class="col-lg-3">Naziv</td>
            <td class="col-lg-1">Ak. godina</td>
            <td class="col-lg-5">Opis</td>
            <td class="col-lg-3"> Akcija</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SS_Planovi)
		{
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Red_br)</td>
            <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
            <td>@Html.DisplayFor(modelItem => item.Ak_godina)</td>
            <td>@Html.DisplayFor(modelItem => item.Opis)</td>
            <td>
				<div class="pull-right">
					<input type="button" class="btn btn-default btn-xs" value="Uredi" onclick='showModal("@Url.Action("Edit","PlanSs",new { id = item.Id_plan })")' />
					<input type="button" class="btn btn-primary btn-xs" value="Detalji" onclick='reloadPage("@Url.Action("Detalji","PlanSs",new { id = item.Id_plan, id_god = Model.ID_GODINA })")' />
					<input type="button" class="btn btn-danger btn-xs" value="Briši" onclick='showModal("@Url.Action("Delete","PlanSs",new { id = item.Id_plan, id_god = Model.ID_GODINA })")' />
				</div>
            </td>
        </tr>
		}
    </tbody>
</table>
