@model  Planiranje.Models.SSModel

<table class="table table-bordered table-hover" id="dataTable">
    <thead>
        <tr>
            <td class="col-lg-1">#</td>
            <td class="col-lg-3">Naziv</td>
            <td class="col-lg-1">Ak. godina</td>
            <td class="col-lg-6">Opis</td>
            <td class="col-lg-2"> Akcija</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.SS_Planovi)
	{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ak_godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <div class="pull-right">
                    <a data-toggle="modal" data-url="@Url.Action("Edit","PlanSs",new { id = item.Id_plan })" id="editAsset" class="btn btn-primary btn-xs ">Uredi</a>
                    <a data-toggle="modal" data-url="@Url.Action("Delete","PlanSs",new { id = item.Id_plan })" id="deleteAsset" class="btn btn-danger btn-xs ">Briši</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
