@model Planiranje.Models.Ucenici.Dokument
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Dodavanje novog dokumenta</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviDokument", enctype = "multipart/form-data" }))
        {
            <div class="modal-body">
                <div class="form-group col-lg-12">
                    @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12">
                    <input type="file" name="file" />
                </div>
                @if (ViewBag.greska != null)
                {
                    <div class="text-danger">@ViewBag.greska</div>
                }                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <input type="button" class="btn btn-primary" value="Spremi" onclick='upload("@Url.Action("Upload","Dokument")","noviDokument", "Dokument je spremljen")' />
            </div>
        }
    </div>
</div>
