@model Planiranje.Models.OS_Plan_1_akcija
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Nova akcija</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "novaAkcija", @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id, new { Value = 0 })
                @Html.HiddenFor(model => model.Id_aktivnost, new { Value = ViewBag.id })
                <div class="form-group">
                    @Html.LabelFor(model => model.Opis_akcija, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Opis_akcija, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Opis_akcija, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Potrebno_sati, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Potrebno_sati, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Potrebno_sati, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_9, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_9, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_9, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_10, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_10, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_10, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_11, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_11, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_11, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_12, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_12, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_12, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_1, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_1, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_2, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_2, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_3, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_3, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_4, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_4, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_4, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_5, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_5, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_5, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_6, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_6, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_6, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_7, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_7, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_7, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Mj_8, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mj_8, new { htmlAttributes = new { @class = "form-control", min = "0" } })
                                @Html.ValidationMessageFor(model => model.Mj_8, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                    <input type="button" onclick="zatvoriModal('@Url.Action("NovaAkcija","PlanOs1")','#novaAkcija', '#akcije', 'Nova akcija je spremljena')" class="btn btn-primary" value="Spremi" />
                </div>
            </div>
        }
    </div>
</div>
