@model Planiranje.Models.OS_Plan_1_podrucje

@{
    Layout = null;    
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Novo područje djelovanja</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "novoPodrucje", @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id_plan, new { Value = 0 })
                @Html.HiddenFor(model => model.Id_glavni_plan, new { Value = ViewBag.id })
                <div class="form-group">
                    @Html.LabelFor(model => model.Opis_Podrucje, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Opis_Podrucje, ViewBag.selectPodrucje as SelectList, "Odaberi područje", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Opis_Podrucje, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Potrebno_sati, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Potrebno_sati, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Potrebno_sati, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!--CILJEVI-->
                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.LabelFor(model => model.Cilj)
                    </div>
                    <div class="col-lg-7">
                        <div class="form-group">
                            <div class="col-lg-12">
                                @Html.TextAreaFor(model => model.Cilj, new { @class = "edit-text-area", id = "ciljeviText" })
                                @Html.ValidationMessageFor(model => model.Cilj, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <div class="col-lg-12">
                                @Html.DropDownList("Ciljevi", ViewBag.selectCilj as SelectList, "--Odaberi ciljeve--", new { @class = "form-control", id = "ciljeviList" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="button" class="btn btn-primary" style="width:100%;" onclick='appendText("ciljeviList", "ciljeviText")' value="Dodaj" />
                        </div>
                    </div>
                </div>
                <!--//CILJEVI-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                    <input type="button" onclick="reload('@Url.Action("NovoPodrucje","PlanOs1")','#novoPodrucje')" class="btn btn-primary" value="Spremi" />
                </div>
            </div>
        }
    </div>
</div>