@model List<Planiranje.Models.OS_Plan_1_podrucje>
    @using Planiranje.Models
@{
    Layout = null;
}
<select id="selectPodrucje" onchange="PromjenaPodrucje()" class="form-control">
    @{ int br = 1;
        List<Podrucje_rada> podrucja = ViewBag.podrucjaRada as List<Podrucje_rada>;
    }
    @foreach (var item in Model)
    {
        @*if (br - 1 == Model.Pozicija)
            {
                <option selected="selected">
                    @br. @Model.PodrucjeRada.Single(s => s.Id_podrucje == item.Opis_Podrucje).Naziv
                </option>
            }
            else
            {
                br--;
                <option value="@br">
                    @{ br++;}
                    @br. @Model.PodrucjeRada.Single(s => s.Id_podrucje == item.Opis_Podrucje).Naziv
                </option>
            }*@
        <option value="@item.Id_plan">           
            @br. @podrucja.SingleOrDefault(s => s.Id_podrucje == item.Opis_Podrucje).Naziv
        </option>
        br++;
    }
</select>