@model List<Planiranje.Models.OS_Plan_1>

<table class="table table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <td class="col-lg-1">
                @Html.ActionLink("#", "Index", "OsPlan1", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-3">
                @Html.ActionLink("Naziv", "Index", "OsPlan1", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-2">
                @Html.ActionLink("Ak. godina", "Index", "OsPlan1", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-4">
                @Html.ActionLink("Opis", "Index", "OsPlan1", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </td>
            <td class="col-lg-2">
                Akcija
            </td>
        </tr>
    </thead>
    <tbody>
        @{ var broj = 1;}

        @foreach (var item in Model)
	{
        <tr>
            <td>
                @broj
                @{broj++;}
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ak_godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <div class="pull-right">
                    <a onclick="location.href='@Url.Action("Details","PlanOs1",new { id=item.Id_plan})'" class="btn btn-success btn-xs ">Detalji</a>
                    <a data-toggle="modal" data-url="@Url.Action("Edit","PlanOs1",new { id = item.Id_plan })" id="editAsset" class="btn btn-primary btn-xs ">Uredi</a>
                    <a data-toggle="modal" data-url="@Url.Action("Delete","PlanOs1",new { id = item.Id_plan })" id="deleteAsset" class="btn btn-danger btn-xs ">Briši</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
