@model List<Planiranje.Models.OS_Plan_1>

<table class="table table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <td class="col-lg-1">
                Redni broj
            </td>
            <td class="col-lg-3">
                Naziv
            </td>
            <td class="col-lg-2">
                Ak. godina
            </td>
            <td class="col-lg-4">
               Opis
            </td>
            <td class="col-lg-2">
                Akcija
            </td>
        </tr>
    </thead>
    <tbody>
        @{ var broj = 1;}

        @foreach (var item in Model)
	{
        <tr>
            <td>
                @broj
                @{broj++;}
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ak_godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <div class="pull-right">
                    <a onclick="reloadPage('@Url.Action("Details","PlanOs1",new { id=item.Id_plan})')" class="btn btn-success btn-xs ">Detalji</a>
                    <a onclick="showModal('@Url.Action("Edit","PlanOs1",new { id = item.Id_plan })')"  class="btn btn-primary btn-xs ">Uredi</a>
                    <a onclick="showModal('@Url.Action("Delete","PlanOs1",new { id = item.Id_plan })')"  class="btn btn-danger btn-xs ">Obriši</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
