@model Planiranje.Models.Ucenici.Nastavnik_uvid
@{
    Layout = null;
}
<div class="modal-dialog" style="width:1200px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@{string s = ViewBag.godina == null ? "Uređivanje protokola za uvid u neposredni odgojno-obrazovni rad nastavnika" : "Novi protokol za uvid u neposredni odgojno-obrazovni rad nastavnika"; }@s</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviUvid" }))
            {
                @Html.HiddenFor(model => model.Id)
                if (ViewBag.godina == null)
                {
                    @Html.HiddenFor(model => model.Sk_godina)
                    @Html.HiddenFor(model => model.Id_nastavnik)
                }
                else
                {
                    @Html.HiddenFor(model => model.Sk_godina, new { Value = ViewBag.godina })
                    @Html.HiddenFor(model => model.Id_nastavnik, new { Value = ViewBag.idNastavnik })
                }

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel-body">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="#osnovni" data-toggle="tab">Osnovno</a>
                                </li>
                                <li>
                                    <a href="#ostalo" data-toggle="tab">Ostalo</a>
                                </li>
                                <li>
                                    <a href="#ostalo2" data-toggle="tab">Ostalo 2</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="osnovni">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group col-lg-12">
                                                @Html.LabelFor(model => model.Id_odjel, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.Id_odjel, ViewBag.select as IEnumerable<SelectListItem>, "Odaberite odjel", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Id_odjel, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-lg-12">
                                                @Html.LabelFor(model => model.Nastavni_predmet, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Nastavni_predmet, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Nastavni_predmet, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="row col-lg-12">
                                                <div class="form-group col-lg-6">
                                                    @Html.LabelFor(model => model.Datum, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    @Html.LabelFor(model => model.Vrijeme, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Vrijeme, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Vrijeme, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                @Html.LabelFor(model => model.Nastavna_cjelina, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Nastavna_cjelina, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Nastavna_cjelina, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-lg-12">
                                                @Html.LabelFor(model => model.Nastavna_jedinica, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Nastavna_jedinica, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Nastavna_jedinica, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-lg-12">
                                                @Html.LabelFor(model => model.Broj_sati_nazocnosti, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Broj_sati_nazocnosti, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Broj_sati_nazocnosti, "", new { @class = "text-danger" })
                                            </div>
                                        </div><!--END COL -->
                                        <div class="col-lg-6">                                     
                                            <div class="panel-group" id="accordion">
                                                <!--početak panela-->
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                                1. Uvjeti za realizaciju kurikuluma
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            @*<div class="form-group">
            @Html.LabelFor(model => model.Cilj_i_zadaci_za_nastavnu_jedinicu, htmlAttributes: new { @class = "control-label col-lg-7" })
            <div class="col-lg-5">
                @Html.DropDownListFor(model => model.Cilj_i_zadaci_za_nastavnu_jedinicu, ViewBag.selectPripremaZaNastavu as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cilj_i_zadaci_za_nastavnu_jedinicu, "", new { @class = "text-danger" })
            </div>
        </div>*@
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Nastava_se_izvodi, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Nastava_se_izvodi, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Nastava_se_izvodi, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Prostor_i_oprema, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Prostor_i_oprema, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Prostor_i_oprema, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Estetsko_higijensko_stanje_ucionice, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Estetsko_higijensko_stanje_ucionice, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Estetsko_higijensko_stanje_ucionice, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Materijalno_tehnicka_priprema_za_nastavu, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Materijalno_tehnicka_priprema_za_nastavu, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Materijalno_tehnicka_priprema_za_nastavu, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                                2. Planiranje i programiranje odgojno-obrazovnog procesa
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse3" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Nastavnik_se_redovito_priprema_za_nastavu, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Nastavnik_se_redovito_priprema_za_nastavu, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Nastavnik_se_redovito_priprema_za_nastavu, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Nastavnikova_priprava_je, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Nastavnikova_priprava_je, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Nastavnikova_priprava_je, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Priprava_sadrzi, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Priprava_sadrzi, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Priprava_sadrzi, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Pripremanje_nastavnika_je_bilo_u_skladu_s_postignucima, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Pripremanje_nastavnika_je_bilo_u_skladu_s_postignucima, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Pripremanje_nastavnika_je_bilo_u_skladu_s_postignucima, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Plan_ploce_u_pisanoj_pripravi, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Plan_ploce_u_pisanoj_pripravi, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Plan_ploce_u_pisanoj_pripravi, "", new { @class = "text-danger" })
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                @Html.LabelFor(model => model.Pismena_priprava_sadrzi, htmlAttributes: new { @class = "control-label" })
                                                                @Html.EditorFor(model => model.Pismena_priprava_sadrzi, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Pismena_priprava_sadrzi, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                               
                                            </div><!--kraj panela-->
                                        </div><!--END COL -->
                                    </div><!--END ROW -->
                                </div>
                                <div class="tab-pane fade" id="ostalo">
                                    <div class="row">
                                        <!--početak panela 2-->
                                        <div class="panel-group" id="accordion2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                                                            3. Analiza nakon uvida u neposredni proces nastavnog sata
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse5" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                       <div class="row">
                                                           <div class="col-lg-6">
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Didakticni_model_nastavnog_sata, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Didakticni_model_nastavnog_sata, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Didakticni_model_nastavnog_sata, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Socioloski_oblici_rada, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Socioloski_oblici_rada, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Socioloski_oblici_rada, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Nastavne_metode, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Nastavne_metode, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Nastavne_metode, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Metodicke_strategije_postupci_i_oblici, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Metodicke_strategije_postupci_i_oblici, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Metodicke_strategije_postupci_i_oblici, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Nastavna_sredstva_i_pomagala, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Nastavna_sredstva_i_pomagala, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Nastavna_sredstva_i_pomagala, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Odgojno_obrazovni_sadrzaji_broj_novih_pojmova, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Odgojno_obrazovni_sadrzaji_broj_novih_pojmova, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Odgojno_obrazovni_sadrzaji_broj_novih_pojmova, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Nastavne_metode_metodicki_postupci, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Nastavne_metode_metodicki_postupci, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Nastavne_metode_metodicki_postupci, "", new { @class = "text-danger" })
                                                               </div>
                                                           </div>
                                                           <div class="col-lg-6">
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Ciljevi_postignuca_i_kompetencije_ucenika, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Ciljevi_postignuca_i_kompetencije_ucenika, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Ciljevi_postignuca_i_kompetencije_ucenika, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Odnos_nastavnika_prema_ucenicima, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Odnos_nastavnika_prema_ucenicima, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Odnos_nastavnika_prema_ucenicima, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Nastavnik_posvecuje_pozornost, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Nastavnik_posvecuje_pozornost, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Nastavnik_posvecuje_pozornost, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Nastavnikov_nastup, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Nastavnikov_nastup, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Nastavnikov_nastup, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Govor_nastavnika_u_skladu_je, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Govor_nastavnika_u_skladu_je, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Govor_nastavnika_u_skladu_je, "", new { @class = "text-danger" })
                                                               </div>
                                                               <div class="form-group col-lg-12">
                                                                   @Html.LabelFor(model => model.Kakvim_se_stilom_poucavanja_nastavnik_koristi, htmlAttributes: new { @class = "control-label" })
                                                                   @Html.EditorFor(model => model.Kakvim_se_stilom_poucavanja_nastavnik_koristi, new { htmlAttributes = new { @class = "form-control" } })
                                                                   @Html.ValidationMessageFor(model => model.Kakvim_se_stilom_poucavanja_nastavnik_koristi, "", new { @class = "text-danger" })
                                                               </div>
                                                           </div>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div><!--kraj panela 2-->
                                    </div><!--END ROW -->
                                </div>
                                <div class="tab-pane" id="ostalo2">
                                    <div class="row">
                                        <!--početak panela 3-->
                                        <div class="panel-group" id="accordion3">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion3" href="#collapse7">
                                                            4. Aktivnosti učenika tijekom nastavnog procesa
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse7" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Je_li_na_satu_dosao_do_izrazaja_ucenikov_rad, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Je_li_na_satu_dosao_do_izrazaja_ucenikov_rad, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Je_li_na_satu_dosao_do_izrazaja_ucenikov_rad, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Postignuca_ucenika_i_produktivnost_sata_nastavnika, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Postignuca_ucenika_i_produktivnost_sata_nastavnika, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Postignuca_ucenika_i_produktivnost_sata_nastavnika, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Domaca_zadaca_zadana_je, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Domaca_zadaca_zadana_je, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Domaca_zadaca_zadana_je, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Karakter_domace_zadace, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Karakter_domace_zadace, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Karakter_domace_zadace, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Domaca_zadaca_je_provjerena, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Domaca_zadaca_je_provjerena, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Domaca_zadaca_je_provjerena, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Zapis_na_skolskoj_ploci_bio_je, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Zapis_na_skolskoj_ploci_bio_je, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Zapis_na_skolskoj_ploci_bio_je, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Procjena_uspjesnosti_nastavnog_sata, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Procjena_uspjesnosti_nastavnog_sata, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Procjena_uspjesnosti_nastavnog_sata, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Evaluacija_nastavnog_sata, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Evaluacija_nastavnog_sata, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Evaluacija_nastavnog_sata, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Ostala_zapazanja, htmlAttributes: new { @class = "control-label col-lg-2" })
                                                                <div class="col-lg-10">
                                                                    @Html.TextAreaFor(model => model.Ostala_zapazanja, new { @class = "edit-opis", rows="2" })
                                                                    @Html.ValidationMessageFor(model => model.Ostala_zapazanja, "", new { @class = "text-danger" })
                                                                </div>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion3" href="#collapse8">
                                                            5. Nastavna dokumentacija
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse8" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Nastavnik_ima_i_vodi_pedagosku_dokumentaciju, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Nastavnik_ima_i_vodi_pedagosku_dokumentaciju, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Nastavnik_ima_i_vodi_pedagosku_dokumentaciju, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.U_dnevniku_rada_upisani_su, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.U_dnevniku_rada_upisani_su, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.U_dnevniku_rada_upisani_su, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Pripreme_nastavnika_za_nastavu_su, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Pripreme_nastavnika_za_nastavu_su, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Pripreme_nastavnika_za_nastavu_su, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Iz_imenika_je_vidljivo_da_nastavnik, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Iz_imenika_je_vidljivo_da_nastavnik, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Iz_imenika_je_vidljivo_da_nastavnik, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Ocjene_u_imeniku_su, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Ocjene_u_imeniku_su, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Ocjene_u_imeniku_su, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-lg-12">
                                                                    @Html.LabelFor(model => model.Procjena_vodjenja_nastavne_dokumentacije, htmlAttributes: new { @class = "control-label" })
                                                                    @Html.EditorFor(model => model.Procjena_vodjenja_nastavne_dokumentacije, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Procjena_vodjenja_nastavne_dokumentacije, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => model.Poslovi_razrednika_izvijesca_i_analize, htmlAttributes: new { @class = "control-label col-lg-2" })
                                                                <div class="col-lg-10">
                                                                    @Html.TextAreaFor(model => model.Poslovi_razrednika_izvijesca_i_analize, new { @class = "edit-opis", rows = "2" })
                                                                    @Html.ValidationMessageFor(model => model.Poslovi_razrednika_izvijesca_i_analize, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--kraj panela 3-->
                                    </div>
                                </div>
                            </div>
                        </div><!--END PANEL-->
                    </div><!--END COL 12-->
                </div><!--END ROW -->

            }
        </div>
        <div class="modal-footer">
            @{ string naziv = ViewBag.godina == null ? "Promijeni" : "Spremi";
                string naziv1 = ViewBag.godina == null ? "Protokol za uvid u neposredni odgojno-obrazovni rad je promijenjen" : "Novi protokol za uvid u neposredni odgojno-obrazovni rad je spremljen";}
            @if (ViewBag.godina == null)
            {
                <a href="@Url.Action("Ispis","NastavnikUvid",new { id=Model.Id})" target="_blank" class="btn btn-info">Ispis</a>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
            <input type="button" class="btn btn-primary" value="@naziv" onclick='zatvoriModal("@Url.Action("NoviUvid","NastavnikUvid")","#noviUvid","#detalji","@naziv1")' />
        </div>
    </div>
</div>
