@model Planiranje.Models.PlanOs2View
@{ Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Detalji OS plana 2";}

<div class="inner">
	@*<script>
         $(document).ready(function () {
             if ($("#poruka").text() == "1") {
                 showSnackBar('@TempData["note"]');
             }
         })
	</script>*@
	@*<div style="display:none" id="provjeraPrikaz">@TempData["prikaz"]</div>
	@if (TempData["note"] != null)
	{
		<div style="display:none" id="poruka">1</div>
	}
	@if (Model.OsPlan2Podrucja.Count == 0)
	{
		<div id="provjeraPodrucje" style="display:none">1</div>
	}
	else if (Model.OsPlan2Aktivnosti.Count == 0)
	{
		<div id="provjeraPodrucje" style="display:none">2</div>
	}*@
	<div class="row">
		<div class="col-lg-12">

		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-10">
							<h4> Kreiranje godišnjeg plana i programa</h4>
							<h5> Naziv godišnjeg plana i programa: @Model.OsPlan2.Naziv</h5>
							<p>
								<a onclick="reloadPage('@Url.Action("Index","PlanOs2")')" class="btn btn-success btn-xs btn-grad">Povratak na popis</a>
							</p>
						</div><!--END COL 10-->
						<div class="col-lg-2">
							<a href="@Url.Action("IspisDetalji","PlanOs2", new { id=Model.OsPlan2.Id_plan})" target="_blank" class="btn btn-success btn-sm">ISPIS / PDF DOKUMENT</a>
						</div>
					</div><!--END ROW -->
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="panel-body">

								<ul class="nav nav-pills">
									<li class="active">
										<a href="#podrucja" data-toggle="tab">Poslovi</a>
									</li>
									<li>
										<a href="#aktivnosti" data-toggle="tab">Zadatci</a>
									</li>
									<li>
										<a href="#akcije" data-toggle="tab">Aktivnosti i sati</a>
									</li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane fade in active" id="podrucja">
										<div class="row">
											<div class="col-lg-12">
												<p>
													<button onclick="showModal('@Url.Action("NovoPodrucje","PlanOs2", new { id=Model.OsPlan2.Id_plan})')" class="btn btn-primary btn-xs btn-grad">Dodaj novi posao</button>
												</p>
												<div class="table-responsive">
													<table class="table table-striped table-bordered table-hover" id="dataTable-posao">
														<thead>
															<tr>
																<th>Rb.</th>
																<th>Poslovi</th>
																<th>Ciljevi</th>
																<th>Zadaci</th>
																<th>Subjekti</th>
																<th>Oblici i metode</th>
																<th>Vrijeme realizacije</th>
																<th>Pomak</th>
																<th>Aktivnost</th>
															</tr>
														</thead>
														<tbody>
															@{ int br = 0;}
															@foreach (var item in Model.OsPlan2Podrucja)
                                                            {
                                                                br++;
                                                                string disabled1 = "";
                                                                string disabled2 = "";
                                                                if (br == 1) { disabled1 = "disabled"; }
                                                                if (br == Model.OsPlan2Podrucja.Count) { disabled2 = "disabled"; }
																<tr>
																	<td class="col-md-1">@br</td>
																	<td class="col-md-3">@item.Opis_podrucje</td>
																	<td class="col-md-2" style="white-space:pre-line">@item.Cilj</td>
																	<td class="col-md-2" style="white-space:pre-line">@item.Zadaci</td>
																	<td class="col-md-1" style="white-space:pre-line">@item.Subjekti</td>
																	<td class="col-md-1" style="white-space:pre-line">@item.Oblici</td>
																	<td class="col-md-1">@item.Vrijeme</td>
																	<td class="col-md-1">
																		<button @disabled1 onclick="reloadPage('@Url.Action("PodrucjePomakGore","PlanOs2", new { id=item.Id_plan})')" class="btn btn-warning btn-xs btn-grad">Gore</button>
																		<button @disabled2 onclick="reloadPage('@Url.Action("PodrucjePomakDolje","PlanOs2", new { id=item.Id_plan})')" class="btn btn-warning btn-xs btn-grad">Dolje</button>
																	</td>
																	<td class="col-md-1">
																		<a onclick="showModal('@Url.Action("UrediPodrucje","PlanOs2", new { id=item.Id_plan, broj=br})')" class="btn btn-primary btn-xs btn-grad">Uredi</a>
																		<a onclick="showModal('@Url.Action("ObrisiPodrucje","PlanOs2", new { id=item.Id_plan, broj=br})')" class="btn btn-danger btn-xs btn-grad">Obriši</a>
																	</td>
																</tr>
															}
														</tbody>
													</table>
												</div>
											</div><!--END COL 12-->
										</div>
									</div>
                                    <div class="tab-pane fade" id="aktivnosti">
                                        @{ Html.RenderAction("Aktivnosti", "PlanOs2", new { idPodrucje = 0, id = Model.OsPlan2.Id_plan });}
                                    </div>
									<div class="tab-pane fade" id="akcije">
										
									</div>
								</div>
							</div><!--END nav-pills -->

						</div><!--END BODY -->
					</div><!--END col 12 -->
				</div> <!--END row -->
			</div>
		</div>

	</div>

</div>
@*<div style="display:none" id="idPlan">@Model.OsPlan2.Id_plan</div>*@

@*<script>
	function promjenaPosao() {
		var val = $("#selectPosao").val();
		var id = $("#idPlan").text();
		$.ajax({
			url: '/PlanOs2/Details/' + id + '?pA=' + val,
			success: function (data) {
				$("#content").html(data);
			}
		});
	}
</script>
<script>
	function promjenaZadatak() {
		var val = $("#selectZadatak").val();
		var id = $("#idPlan").text();
		$.ajax({
			url: '/PlanOs2/Details/' + id + '?' + val,
			success: function (data) {
				$("#content").html(data);
			}
		});
	}
</script>

<script>
	$(document).ready(function () {
		$('#dataTables-example').dataTable();
	});
</script>
<script>
	$(document).ready(function () {
		var sadrzaj = $("#provjeraPrikaz").text();
		if (sadrzaj == "1") {
			$("#zadaciTab").click();
		}
		else if (sadrzaj == "2") {
			$("#aktivnostiTab").click();
		}
		if ($("#provjeraPodrucje").text() == "1") {
			$("#btnNoviZadatak").prop("disabled", true);
			$("#btnNovaAktivnost").prop("disabled", true);
		}
		else if ($("#provjeraPodrucje").text() == "2") {
			$("#btnNovaAktivnost").prop("disabled", true);
		}

	});
</script>*@
<script>
    $(document).ready(function () {
        $('#dataTable-posao').dataTable({ stateSave: true });
        @if (TempData["note"] != null)
        {
            @:showSnackBar("@TempData["note"]");
        }
    });
    function promjenaPodrucja() {
        var val = $("#selectPodrucje").val();
        if (val != "0") {
            $.ajax({
                url: '/PlanOs2/Aktivnosti?idPodrucje=' + val + '&id=0',
                success: function (data) {
                    $("#aktivnosti").html(data);
                    //updateAkcija();
                },
                error: function (request, status, error) {
                    showSnackBar("Dogodila se greška prilikom obrađivanja Vašeg zahtjeva");
                }
            });
        }
    }
    function promjenaAktivnosti() {
        var val = $("#selectAktivnost").val();
        if (val != "0") {
            $.ajax({
                url: '/PlanOs2/Akcije?idAktivnost=' + val + '&idPodrucje=0',
                success: function (data) {
                    $("#akcije").html(data);
                },
                error: function (request, status, error) {
                    showSnackBar("Dogodila se greška prilikom obrađivanja Vašeg zahtjeva");
                }
            });
        }
    }
    function updateAkcija() {
        var val = $("#selectPodrucje").val();
        if (val != "0") {
            $.ajax({
                url: '/PlanOs2/Akcije?idAktivnost=0&idPodrucje=' + val,
                success: function (data) {
                    $("#akcije").html(data);
                },
                error: function (request, status, error) {
                    showSnackBar("Dogodila se greška prilikom obrađivanja Vašeg zahtjeva");
                }
            });
        }
    }
    function zatvoriModal(path, id, spremi, poruka) {
        var dt = $(id).serialize();
        $.ajax({
            url: path,
            type: "POST",
            data: dt,
            success: function (data) {
                if ($(data)[0].className === "row") {
                    $(spremi).html(data);
                    $('#modal').modal('hide');
                    $('#modalContainer').removeData();
                    $('.modal-backdrop').remove();
                    showSnackBar(poruka);
                }
                else if ($(data)[0].className === "modal-dialog") {
                    $("#modalContainer").html(data);
                }
                else {
                    location.reload();
                }
            },
            error: function (request, status, error) {
                showSnackBar("Dogodila se greška prilikom obrađivanja Vašeg zahtjeva");
            }
        });
    }
    function pomak(path, spremi, poruka) {
        $.ajax({
            url: path,
            success: function (data) {
                $(spremi).html(data);
                showSnackBar(poruka);
            },
            error: function (request, status, error) {
                showSnackBar("Dogodila se greška prilikom obrađivanja Vašeg zahtjeva");
            }
        });
    }
    function pomak1(path, spremi, poruka) {
        $.ajax({
            url: path,
            success: function (data) {
                $(spremi).html(data);
                showSnackBar(poruka);
                //updateAkcija();
            },
            error: function (request, status, error) {
                showSnackBar("Dogodila se greška prilikom obrađivanja Vašeg zahtjeva");
            }
        });
    }
    function zatvoriModal1(path, id, spremi, poruka) {
        var dt = $(id).serialize();
        $.ajax({
            url: path,
            type: "POST",
            data: dt,
            success: function (data) {
                if ($(data)[0].className === "row") {
                    $(spremi).html(data);
                    $('#modal').modal('hide');
                    $('#modalContainer').removeData();
                    $('.modal-backdrop').remove();
                    showSnackBar(poruka);
                    updateAkcija();
                }
                else if ($(data)[0].className === "modal-dialog") {
                    $("#modalContainer").html(data);
                }
                else {
                    location.reload();
                }
            },
            error: function (request, status, error) {
                showSnackBar("Dogodila se greška prilikom obrađivanja Vašeg zahtjeva");
            }
        });
    }
</script>

