@model Planiranje.Models.PlanOs2View
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Nova aktivnost</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviPlanModalView", @class = "form-horizontal", role = "form" }))
		{
        <div class="modal-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.OsPlan2Akcija.Id_plan, new { Value = 0 })
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Pozicija)
            @Html.HiddenFor(m => m.Pozicija2)

            <div class="form-group">
                @Html.LabelFor(model => model.OsPlan2Akcija.Opis_akcija, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.OsPlan2Akcija.Opis_akcija, new { @class = "edit-opis", @rows="3" })
                    @Html.ValidationMessageFor(model => model.OsPlan2Akcija.Opis_akcija, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OsPlan2Akcija.Sati, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OsPlan2Akcija.Sati, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.OsPlan2Akcija.Sati, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <input type="button" onclick="reload('@Url.Action("NovaAktivnost","PlanOs2")','#noviPlanModalView')" class="btn btn-primary" value="Spremi" />
            </div>
        </div>
        }
    </div>
</div>

