@model Planiranje.Models.OS_Plan_2_aktivnost
@{
    Layout = null;    
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Novi zadatak</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviPlanModalView", @class = "form-horizontal", role = "form" }))
		{
        <div class="modal-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_plan, new { Value = 0 })
            @Html.HiddenFor(model => Model.Id_podrucje, new { Value = ViewBag.id })


            <div class="form-group">
                @Html.LabelFor(model => model.Opis_aktivnost, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Opis_aktivnost, new { @class = "edit-opis", @rows = "3" })
                    @Html.ValidationMessageFor(model => model.Opis_aktivnost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sati, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Sati, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.Sati, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <input type="button" onclick="zatvoriModal('@Url.Action("NovaAktivnost","PlanOs2")','#noviPlanModalView','#aktivnosti','Novi zadatak je spremljen')" class="btn btn-primary" value="Spremi" />
            </div>
        </div>
        }
    </div>
</div>
