@model Planiranje.Models.PlanOs2View

@{
    Layout = null;
}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Novi posao</h4>
        </div>
        @using (Ajax.BeginForm("NoviPosao", "PlanOs2", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "CreateSuccess"
        }, new { @class = "form-horizontal", role = "form" }))
        {
        <div class="modal-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Podrucje.Id_plan, new { Value = 0 })

            <div class="form-group">
                @Html.LabelFor(model => model.Podrucje.Opis_podrucje, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Podrucje.Opis_podrucje, Model.PodrucjeItems, "Odaberi posao", new { @class = "form-control" })
                </div>
            </div>



            <div class="form-group">
                @Html.Label("Cilji", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Podrucje.Cilj, Model.CiljeviItems, "Odaberi cilj", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Zadatci", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Podrucje.Zadaci, Model.ZadaciItems, "Odaberi zadatak", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Subjekti", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Podrucje.Subjekti, Model.SubjektiItems, "Odaberi subjekt", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Oblici i metode", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Podrucje.Oblici, Model.ObliciItems, "Odaberi oblike i metode", new { @class = "form-control" })
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <input type="submit" class="btn btn-primary" value="Spremi" />
            </div>
        </div>
        }
    </div>
</div>