@model Planiranje.Models.OS_Plan_2_podrucje
@{
    Layout = null;
    string buttonValue = ViewBag.id == null ? "Promijeni" : "Spremi";
    string path = ViewBag.id == null ? "UrediPodrucje" : "NovoPodrucje";
}
<div class="modal-dialog" style="width:1200px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@{string naslov = ViewBag.id == null ? "Uređivanje posla" : "Novi posao";}@naslov</h4>
        </div>
       @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviPlanModalView", @class = "form-horizontal", role = "form" }))
		{
        <div class="modal-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (ViewBag.id != null)
            {
                @Html.HiddenFor(model => model.Id_plan, new { Value = 0 })
                @Html.HiddenFor(m => m.Id_glavni_plan, new { Value = ViewBag.id})
            }
            else
            {
                 @Html.HiddenFor(model => model.Id_plan)                 
            }
            @if (ViewBag.broj != null)
            {
                <div class="form-group">
                @Html.Label("broj","Redni broj", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBox("broj", ViewBag.broj as string, new { @class = "form-control", disabled="" })
                    @Html.Hidden("broj",ViewBag.broj as string)
                </div>
            </div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Opis_podrucje, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    @Html.TextAreaFor(model => model.Opis_podrucje, new { @class = "edit-opis" })
                    @Html.ValidationMessageFor(model => model.Opis_podrucje, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 pull-left">
                    <!--CILJEVI-->
                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(model => model.Cilj)
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.TextAreaFor(model => model.Cilj, new { @class = "edit-text-area", id = "ciljeviText" })
                                    @Html.ValidationMessageFor(model => model.Cilj, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.DropDownList("C", ViewBag.selectCiljevi as SelectList, "--Odaberi ciljeve--", new { @class = "form-control", id = "ciljeviList" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-primary" style="width:100%;" onclick='appendText("ciljeviList", "ciljeviText")' value="Dodaj" />
                            </div>
                        </div>
                    </div>
                    <!--//CILJEVI-->
                    <!--ZADACI-->
                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(model => model.Zadaci)
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.TextAreaFor(model => model.Zadaci, new { @class = "edit-text-area", id = "zadaciText" })
                                    @Html.ValidationMessageFor(model => model.Zadaci, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.DropDownList("Z", ViewBag.selectZadaci as SelectList, "--Odaberi zadatke--", new { @class = "form-control", id = "zadaciList" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-primary" style="width:100%;" onclick='appendText("zadaciList", "zadaciText")' value="Dodaj" />
                            </div>
                        </div>
                    </div>
                    <!--//ZADACI-->
                </div>
                <div class="col-lg-6 pull-right">
                    <!--SUBJEKTI-->
                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(model => model.Subjekti)
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.TextAreaFor(model => model.Subjekti, new { @class = "edit-text-area", id = "subjektiText" })
                                    @Html.ValidationMessageFor(model => model.Subjekti, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.DropDownList("S", ViewBag.selectSubjekti as SelectList, "--Odaberi subjekte--", new { @class = "form-control", id = "subjektiList" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-primary" style="width:100%;" onclick='appendText("subjektiList", "subjektiText")' value="Dodaj" />
                            </div>
                        </div>
                    </div>
                    <!--//SUBJEKTI-->
                    <!--OBLICI-->
                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(model => model.Oblici)
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.TextAreaFor(model => model.Oblici, new { @class = "edit-text-area", id = "obliciText" })
                                    @Html.ValidationMessageFor(model => model.Oblici, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    @Html.DropDownList("O", ViewBag.selectOblici as SelectList, "--Odaberi oblike--", new { @class = "form-control", id = "obliciList" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-primary" style="width:100%;" onclick='appendText("obliciList", "obliciText")' value="Dodaj" />
                            </div>
                        </div>
                    </div>
                    <!--//OBLICI-->
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Vrijeme, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Vrijeme, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vrijeme, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sati, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sati, new { htmlAttributes = new { @class = "form-control", min="0" } })
                            @Html.ValidationMessageFor(model => model.Sati, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <input type="button" onclick="reload('@Url.Action(path,"PlanOs2")','#noviPlanModalView')" class="btn btn-primary" value="@buttonValue" />
            </div>
        </div>
        }
    </div>
</div>
