@model List<Planiranje.Models.OS_Plan_2>

<table class="table table-bordered table-hover" id="dataTable-planOs2">
    <thead>
        <tr>
            <td class="col-lg-1">
                Redni br.
            </td>
            <td class="col-lg-3">
                Naziv
            </td>
            <td class="col-lg-2">
                Šk. godina
            </td>
            <td class="col-lg-4">
                Opis
            </td>
            <td class="col-lg-2">
                Akcija
            </td>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            int god = item.Ak_godina + 1;
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @item.Ak_godina./@god.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <div class="pull-right">
                    <a onclick="reloadPage('@Url.Action("Details","PlanOs2", new { id=item.Id_plan})')" class="btn btn-success btn-xs">Detalji</a>
                    <a onclick="showModal('@Url.Action("Edit","PlanOs2",new { id = item.Id_plan })')" class="btn btn-primary btn-xs ">Uredi</a>
                    <a onclick="showModal('@Url.Action("Delete","PlanOs2",new { id = item.Id_plan })')" class="btn btn-danger btn-xs ">Obriši</a>
                    <a onclick="showModal('@Url.Action("Kopiraj","PlanOs2",new { id = item.Id_plan })')" class="btn btn-default btn-xs ">Kopiraj</a>
                </div>
            </td>
        </tr>
         }
    </tbody>
</table>
