@model Planiranje.Models.PlanOs2View

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Uređivanje aktivnosti</h4>
        </div>
        @using (Ajax.BeginForm("UrediAktivnost", "PlanOs2", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "CreateSuccess"
        }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Os_Plan_2_Aktivnost.Id_plan)
                @Html.HiddenFor(m => m.Os_Plan_2_Aktivnost.Id_podrucje)
                @Html.HiddenFor(m => m.Os_Plan_2_Aktivnost.Red_br_aktivnost)
                @Html.HiddenFor(m => m.Os_Plan_2_Aktivnost.Sati)
                @Html.HiddenFor(m => m.Pozicija, new { @Value = Model.Broj })

                <div class="form-group">
                    @Html.Label("Redni broj", new { @class = "control-label col-md-3" })
                    <div class="col-md-4">
                        @Html.TextBox("a", ViewBag.pozicija as string, new { @class = "form-control", @disabled = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Os_Plan_2_Aktivnost.Opis_aktivnost, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Os_Plan_2_Aktivnost.Opis_aktivnost, Model.AktivnostiItems, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Os_Plan_2_Aktivnost.Sati, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Os_Plan_2_Aktivnost.Sati, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Os_Plan_2_Aktivnost.Sati, "", new { @class = "text-danger" })
                    </div>
                </div>
