@model Planiranje.Models.PlaniranjeModel
@using System.Web.Mvc;
@{	
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registracija</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    @using (Html.BeginForm("Registracija", "Planiranje", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="container">
                <div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div style="margin-bottom:10px" class="text-center">
							<img src="../assets/img/logo.png" id="logoimg" alt=" Logo" />
						</div>
						@if (ViewBag.Message != null && ViewBag.uspjesno==null)
						{
							<div class="alert alert-danger text-center" role="alert">@ViewBag.Message</div>
                        }
                        else if(ViewBag.Message !=null && ViewBag.uspjesno != null)
                        {
                            <div class="alert alert-success text-center" role="alert">@ViewBag.Message</div>
                        }
                        else
                        {

                            <div class="alert alert-info text-center" role="alert">Unesite podatke za registraciju</div>

                        }
                        @Html.EditorFor(model => model.Pedagog.Ime, new { htmlAttributes = new { @class = "form-control", placeholder = "Ime", style = "max-width:100%; margin:10px auto;" } })
						@Html.ValidationMessageFor(model => model.Pedagog.Ime, "", new { @class = "text-danger" })

						@Html.EditorFor(model => model.Pedagog.Prezime, new { htmlAttributes = new { @class = "form-control", placeholder = "Prezime", style = "max-width:100%; margin:10px auto;" } })
						@Html.ValidationMessageFor(model => model.Pedagog.Prezime, "", new { @class = "text-danger" })

						@Html.EditorFor(model => model.Pedagog.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail adresa", style = "max-width:100%; margin:10px auto;" } })
						@Html.ValidationMessageFor(model => model.Pedagog.Email, "", new { @class = "text-danger" })

						@Html.EditorFor(model => model.Pedagog.Titula, new { htmlAttributes = new { @class = "form-control", placeholder = "Titula", style = "max-width:100%; margin:10px auto;" } })
						@Html.ValidationMessageFor(model => model.Pedagog.Titula, "", new { @class = "text-danger" })

						@Html.PasswordFor(model => model.Pedagog.Lozinka,new { @class = "form-control", placeholder = "Lozinka", style = "max-width:100%; margin:10px auto;" })
						@Html.ValidationMessageFor(model => model.Pedagog.Lozinka, "", new { @class = "text-danger" })

						@Html.DropDownListFor(model => Model.SelectedSchool, Model.PopisSkola, new { @class = "form-control", style = "max-width:100%; margin:10px auto;" })

						<br>

						<div class="col-md-12 text-center">
							<input type="submit" value="Registriraj se" class="btn btn-danger" />
						</div>
						<br>
						<div class="col-md-12 text-center">
							@Html.ActionLink("Prijava", "Prijava", new { @class = "btn btn-link" }) |
							@Html.ActionLink("Zaboravljena lozinka", "ZaboravljenaLozinka", new { @class = "btn btn-link" })
						</div>
					</div>
                </div>
            </div>
        </div>
    }
</body>

</html>
