@model List<Planiranje.Models.Ucenici.Roditelj_ugovor>

@using Planiranje.Models.Ucenici
@{
    Layout = null;
}
<p></p>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <div class="col-lg-10">
                    <div class="col-lg-2">
                        <p>
                            @{ Ucenik ucenik = ViewBag.ucenik as Ucenik;}
                            <a onclick="showModal('@Url.Action("NoviUgovor","RoditeljUgovor",new { idUcenik=ucenik.Id_ucenik, godina=ViewBag.godina, id=0})')" class="btn btn-primary btn-xs btn-grad">Novi ugovor</a>
                        </p>
                    </div>
                    <b>Odabrani učenik:</b> @ucenik.ImePrezime
                </div>

                <table class="table table-striped table-bordered table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Roditelj/Skrbnik</th>
                            <th>Datum</th>
                            <th>Aktivnost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int brojac = 0;
                            List<Obitelj> roditelji = ViewBag.roditelji as List<Obitelj>;
                            List<string> svojstvo = ViewBag.svojstvo as List<string>;
                        }
                        @foreach (var item in Model)
                        {
                            brojac++;
                            var roditelj = roditelji.SingleOrDefault(s => s.Id_obitelj == item.Id_roditelj);
                            if (roditelj == null)
                            {
                                continue;
                            }
                            <tr>
                                <td class="col-md-1">@brojac</td>
                                <td class="col-md-3">@roditelj.ImePrezime (@svojstvo.ElementAt(roditelj.Svojstvo))</td>
                                <td class="col-md-6">@item.Datum.ToShortDateString()</td>
                                <td class="col-md-2">
                                    <a target="_blank" href="@Url.Action("Ispis","RoditeljUgovor",new { id=item.Id})" class="btn btn-info btn-xs btn-grad">Ispis</a>
                                    <a onclick="showModal('@Url.Action("NoviUgovor","RoditeljUgovor",new { idUcenik=ucenik.Id_ucenik, godina=ViewBag.godina, id=item.Id})')" class="btn btn-primary btn-xs btn-grad">Uredi</a>
                                    <a onclick="showModal('@Url.Action("ObrisiUgovor","RoditeljUgovor", new { id=item.Id})')" class="btn btn-danger btn-xs btn-grad">Obriši</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div><!--END COL 12 -->
    </div>
</div>
