@model Planiranje.Models.Ucenici.Roditelj_ugovor
@{
    Layout = null;
}
<div class="modal-dialog" style="width:1200px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@{string s = ViewBag.ur == null ? "Uređivanje ugovora" : "Novi ugovor"; }@s</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviUgovor" }))
            {
                @Html.HiddenFor(model => model.Id)
                if (ViewBag.ur == null)
                {
                    @Html.HiddenFor(model => model.Id_ucenik_razred)
                }
                else
                {
                    @Html.HiddenFor(model => model.Id_ucenik_razred, new { Value = ViewBag.ur })
                }
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">
                        <ul class="nav nav-tabs small">
                            <li @{ string str1="", str2="";
                                if (ViewBag.promijeni==null) { str1 = "class='active'"; }
                                else { str2 = "class='active'"; }
                            }@Html.Raw(str1)>
                                <a href="#osnovni" data-toggle="tab">Ciljevi / Akteri</a>
                            </li>
                            <li>
                                <a href="#biljeska" data-toggle="tab">Mjesečne bilješke</a>
                            </li>
                            <li @Html.Raw(str2)>
                                <a href="#ostalo" data-toggle="tab">Izviješće/Zapažanja</a>
                            </li>
                        </ul>
                    @{ 
                        if (string.IsNullOrEmpty(str1))
                        {
                            str2 = "tab-pane fade in active";
                            str1 = "tab-pane fade";
                        }
                        else
                        {
                            str1 = "tab-pane fade in active";
                            str2 = "tab-pane fade";
                        }
                    }
                        <div class="tab-content">
                            <div class="@Html.Raw(str1)" id="osnovni">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group col-lg-12">
                                            @Html.LabelFor(model => model.Id_roditelj, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.Id_roditelj, ViewBag.roditelji as IEnumerable<SelectListItem>, "Odaberite roditelja/skrbnika", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Id_roditelj, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-lg-12">
                                            @Html.LabelFor(model => model.Datum, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Datum, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label class="control-label">S obzirom na moje buduće ponašanje slažem se da ću</label>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            @Html.LabelFor(model => model.Cilj1, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.Cilj1, new { @class = "edit-opis", rows = "3" })
                                            @Html.ValidationMessageFor(model => model.Cilj1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-lg-12">
                                            @Html.LabelFor(model => model.Cilj2, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.Cilj2, new { @class = "edit-opis", rows = "3" })
                                            @Html.ValidationMessageFor(model => model.Cilj2, "", new { @class = "text-danger" })
                                        </div>
                                    </div><!--END COL -->
                                    <div class="col-lg-6">
                                        <div class="form-group col-lg-12">
                                            @Html.LabelFor(model => model.Poduzeto, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.Poduzeto, new { @class = "edit-opis", rows = "3" })
                                            @Html.ValidationMessageFor(model => model.Poduzeto, "", new { @class = "text-danger" })
                                        </div>                                        
                                        <div class="form-group col-lg-12">
                                            @Html.LabelFor(model => model.Predstavnik_skole, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Predstavnik_skole, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Predstavnik_skole, "", new { @class = "text-danger" })
                                        </div>                                        
                                        <div class="form-group col-lg-12">
                                            @Html.LabelFor(model => model.Slijedeci_susret, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Slijedeci_susret, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Slijedeci_susret, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-lg-12">
                                            @Html.LabelFor(model => model.Zapazanje, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.Zapazanje, new { @class = "edit-opis", rows = "3" })
                                            @Html.ValidationMessageFor(model => model.Zapazanje, "", new { @class = "text-danger" })
                                        </div>
                                    </div><!--END COL -->
                                </div><!--END ROW -->
                            </div>
                            <div class="tab-pane fade" id="biljeska">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Biljeska1, htmlAttributes: new { @class = "control-label col-lg-4" })
                                            @Html.TextAreaFor(model => model.Biljeska1, new { @class = "edit-opis", rows = "3" })
                                        </div><!--END form-group -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Biljeska2, htmlAttributes: new { @class = "control-label col-lg-4" })
                                            @Html.TextAreaFor(model => model.Biljeska2, new { @class = "edit-opis", rows = "3" })
                                        </div><!--END form-group -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Biljeska3, htmlAttributes: new { @class = "control-label col-lg-4" })
                                            @Html.TextAreaFor(model => model.Biljeska3, new { @class = "edit-opis", rows = "3" })
                                        </div><!--END form-group -->
                                    </div><!--END COL -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Biljeska4, htmlAttributes: new { @class = "control-label col-lg-4" })
                                            @Html.TextAreaFor(model => model.Biljeska4, new { @class = "edit-opis", rows = "3" })
                                        </div><!--END form-group -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Biljeska5, htmlAttributes: new { @class = "control-label col-lg-4" })
                                            @Html.TextAreaFor(model => model.Biljeska5, new { @class = "edit-opis", rows = "3" })
                                        </div><!--END form-group -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Biljeska6, htmlAttributes: new { @class = "control-label col-lg-4" })
                                            @Html.TextAreaFor(model => model.Biljeska6, new { @class = "edit-opis", rows = "3" })
                                        </div><!--END form-group -->
                                    </div><!--END COL -->
                                </div><!--END ROW -->
                            </div>
                            <div class="@Html.Raw(str2)" id="ostalo">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Izvjesce, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.Izvjesce, new { @class = "edit-opis", rows = "4" })
                                            @Html.ValidationMessageFor(model => model.Izvjesce, "", new { @class = "text-danger" })
                                        </div><!--END form-group -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Ostala_zapazanja, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.Ostala_zapazanja, new { @class = "edit-opis", rows = "4" })
                                            @Html.ValidationMessageFor(model => model.Ostala_zapazanja, "", new { @class = "text-danger" })
                                        </div><!--END form-group -->
                                    </div><!--END COL -->
                                    <div class="col-lg-1">
                                    </div><!--END COL -->
                                </div><!--END ROW -->
                            </div><!--END TAB-->
                        </div>
                    </div><!--END PANEL-->
                </div><!--END COL 12-->
            </div><!--END ROW -->
        </div>
             }
        </div>
        <div class="modal-footer">
            @{ string naziv = ViewBag.ur == null ? "Promijeni" : "Spremi";
            string naziv1 = ViewBag.ur == null ? "Ugovor je promijenjen" : "Novi ugovor je spremljen";}
            @if (ViewBag.ur == null)
            {
                <a href="@Url.Action("Ispis","RoditeljUgovor",new { id=Model.Id})" target="_blank" class="btn btn-info">Ispis</a>
            }
            <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
            <input type="button" class="btn btn-primary" value="@naziv" onclick='zatvoriModal("@Url.Action("NoviUgovor","RoditeljUgovor")","#noviUgovor","#detalji","@naziv1")' />
        </div>
    </div>
</div>
