@model Planiranje.Models.CIljeviModel

@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Uređivanje podataka</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "urediCiljView", @class = "form-horizontal", role = "form" }))
        {
        <div class="modal-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.cilj.ID_cilj)
            <div class="form-group">
                @Html.LabelFor(model => model.cilj.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.cilj.Naziv, new { @class = "edit-opis" })
                    @Html.ValidationMessageFor(model => model.cilj.Naziv, "", new { @class = "text-danger" })
                </div>
            </div>           
            <div class="modal-footer">
				<div class="form-group">
					<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
					<input type="button" class="btn btn-primary" value="Promijeni" onclick='hideModal("/Ciljevi/Edit", "#urediCiljView", "Cilj je uspješno promjenjen!")' />
				</div>
            </div>
        </div>
        }
    </div>
</div>