@model Planiranje.Models.MjesecniModel
@using PagedList.Mvc;

@{
	Page.Title = ViewBag.Title;
}
@{
	Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["alert"])
@Html.HiddenFor(model => Model.ID_PLAN)
@Html.HiddenFor(model => Model.ID_GODINA)
<div class="inner">
	<div class="row">
		<div class="col-lg-12">
			<h3>@ViewBag.Title</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-2">
							<p>Školska godina: @Model.MjesecniPlan.Ak_godina</p>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="pull-left">
								<input type="button" class="btn btn-primary btn-md" value="Novi detalji" onclick="location.href='@Html.Raw(@Url.Action("NoviDetalji", "MjesecniPlan" ,new { id=Model.ID_PLAN, id_god = Model.ID_GODINA }))'" />
							</div>
							@if (Model.MjesecniDetalji.Count > 0)
							{
							<div class="pull-right">
								<input type="button" class="btn btn-danger btn-md" value="Ispiši" style="margin-top:15px"
									   onclick="location.href='@Url.Action("Ispis", "MjesecniPlan", new { id = Model.ID_PLAN })'" />
							</div>
							}
							<br>
						</div>
					</div>
					<br>
					@if (Model.MjesecniDetalji.Count > 0)
					{
						@Html.Partial("TableDetails", Model)
					}
					else
					{
						<p>Nema mjesečnih planova</p>
					}
					<div class="modal fade" id="assetModal" tabindex="-1" role="dialog" aria-labelledby="assetModal" aria-hidden="true" data-backdrop="static">
						<div id="assetContainer"></div>
					</div>
					<br>
					<div class="pull-right">
						<input type="button" class="btn btn-default btn-md" value="Zatvori" onclick='closeDetails("@Url.Action("Index", "MjesecniPlan", new { Plan=Model.ID_GODINA.ToString() })")' />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function ChangePlan(val) {
		window.location.href = "/MjesecniPlan/Index?Plan=" + val;
	}
	function closeDetails(location)
	{
		$.ajax({
			url: location,
			success: function (data, text) {
				$("#content").html(data);
			},
			error: function (request, status, error) {
				alert(request.responseText);
			}
		});
	}
</script>
<script>
	var rowDelete;
	$(document).ready(function () {
		$("#btnCreateAsset").click(function (e) {
			var url = $(this).attr("data-url");
			$.ajax({
				url: url,
				success: function (data) {
					$('#assetContainer').html(data);
					$('#assetModal').modal('show');
				},
				error: function (xhr, ajaxOptions, thrownError) { alert(xhr.responseText); }
			});
		});

		$('#dataTables-example').on("click", "#editAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});

		$('#dataTables-example').on("click", "#deleteAsset", function (event) {
			event.preventDefault();
			var url = $(this).attr("data-url");
			$.get(url, function (data) {
				$('#assetContainer').html(data);
				$('#assetModal').modal('show');
			});
		});
	});
</script>

<script type="text/javascript">
	function CreateSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}

	function EditSuccess() {
		$('#assetModal').modal('hide');
		$('#assetContainer').html("");
		location.reload(true);
	}

	function DeleteSuccess() {
		location.reload(true);
	}
</script>
<script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
	$(document).ready(function () {
		$('#dataTables-example').dataTable();
	});
</script>
