@model  List<Planiranje.Models.Mjesecni_plan>
@{
	Page.Title = ViewBag.Title;
	int test;
}

<div class="inner">
	<div class="row">
		<div class="col-md-12">
			<h3> Pregled mjesečnih planova </h3>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Podaci iz baze</div>
				<div class="panel-body">
					<p>
						<a href="#" class="btn btn-primary btn-xs btn-grad">Novi plan</a>
					</p>
					<div class="table-responsive">
						<table class="table table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th class="col-md-1">#</th>
									<th class="col-md-3">Naziv mjesečnog plana</th>
									<th class="col-md-1">Šk. godina</th>
									<th class="col-md-5">Opis</th>
									<th class="col-md-2">Aktivnost</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var plan in Model)
								{
									<tr>
										<td>@Html.DisplayFor(planItem => plan.ID_plan)</td>
										<td>@Html.DisplayFor(planItem => plan.Naziv)</td>
										<td>@Html.DisplayFor(planItem => plan.Ak_godina)</td>
										<td>@Html.DisplayFor(planItem => plan.Opis)</td>
										<td class="text-right">
											<a data-toggle="modal" data-target="#uredi"  class="btn btn-primary btn-xs btn-grad">Uredi</a>
											<a data-toggle="modal" data-target="#prikazi" class="btn btn-info btn-xs btn-grad">Prikaži</a>
											<a data-toggle="modal" data-target="#brisi" class="btn btn-danger btn-xs btn-grad">Briši</a>
										</td>
									</tr>
									test = plan.ID_plan;
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="brisi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				</div>
				<div class="modal-body">
					<p>Jeste li sigurni da želite obrisati mjesečni plan "@Html.DisplayFor(planItem => Model[5].Naziv)"?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
					<button onclick="location.href='@Url.Action("Obrisi", "MjesecniPlan", new { id = 1 })'" type="button" class="btn btn-danger">Obriši</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="prikazi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">@Html.DisplayFor(id => Model[3].Naziv)</h3>
				</div>
				<div class="modal-body">
					<p>@Html.DisplayFor(planItem => Model[0].Opis)</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">Zatvori</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="uredi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="exampleModalLabel">Uredi mjesecni plan</h3>
			</div>
			<div class="modal-body">
				@Html.TextBoxFor(id => Model[3].Naziv, new { placeholder = "Naziv mjesecnog plana", @class = "edit-naziv" })
				@Html.TextAreaFor(planItem => Model[3].Opis, new { placeholder = "Opis mjesecnog plana", @class = "edit-opis" })
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
				<button onclick="location.href='@Url.Action("Obrisi", "MjesecniPlan", new { id = 1 })'" type="button" class="btn btn-primary">Spremi</button>
			</div>
		</div>
	</div>
</div>
</div>

