@model Planiranje.Models.MjesecniModel

@{
	Layout = null;
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Novi mjesečni plan</h4>
		</div>
		@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviPlanModalView", @class = "form-horizontal", role = "form" }))
		{
		@Html.HiddenFor(model => model.MjesecniPlan.ID_plan, new { Value = 0 })
		@Html.HiddenFor(model => model.GODINA)
		<div class="modal-body">
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.MjesecniPlan.Naziv, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.EditorFor(model => model.MjesecniPlan.Naziv, new { htmlAttributes = new { @class = "form-control",@required=""
			   } })
					@Html.ValidationMessageFor(model => model.MjesecniPlan.Naziv, "", new { @class = "text-danger" })
				</div>
			</div>			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
				<input type="button" class="btn btn-primary" value="Spremi" onclick='reload("@Url.Action("NoviPlan","MjesecniPlan")","#noviPlanModalView")' />
			</div>
		</div>
         }
	</div>
</div>
