@model Planiranje.Models.Mjesecni_plan

@{
	Layout = null;
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Brisanje plana</h4>
		</div>
		@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "obrisiPlanModalView", @class = "form-horizontal", role = "form" }))
		{
			<div class="modal-body">
				@Html.HiddenFor(model => model.ID_plan)		
                @Html.HiddenFor(model=>model.Ak_godina)
				<div class="form-group">
					<div class="col-md-10">
						<h5>
                            @{ int god = Model.Ak_godina + 1;}
							Jeste li sigurni da želite obrisati <b>@Html.DisplayFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })</b>
                            za školsku godinu <b>@Model.Ak_godina./@god.</b> ?
						</h5>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
						<input type="button" class="btn btn-danger" onclick="reload('@Url.Action("ObrisiPlan","MjesecniPlan")','#obrisiPlanModalView')" value="Obriši"/>
					</div>
				</div>
			</div>
		}
	</div>
</div>
