@model Planiranje.Models.MjesecniModel

@Html.HiddenFor(model => Model.ID_GODINA)

<table class="table table-bordered table-hover" id="dataTables-example">
	<thead>
		<tr>
			<td class="col-lg-1">
				#
			</td>
			<td class="col-lg-3">
				Naslov dokumenta
			</td>
			<td class="col-lg-5">
				Opis
			</td>
			<td class="col-lg-1">
				Šk. godina
			</td>
			<td class="col-lg-3">
				Akcija
			</td>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model.MjesecniPlanovi)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Red_br)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Naziv)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Opis)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ak_godina)
				</td>
				<td>
					<div class="pull-right">
						<a data-toggle="modal" data-url="@Html.Raw(@Url.Action("UrediNoviPlan", "MjesecniPlan", new { id_godina = Model.ID_GODINA, id_plan = item.ID_plan }))" id="deleteAsset" class="btn btn-primary btn-xs ">Uredi</a>
						<input type="button" class="btn btn-primary btn-xs mjPlanDetalji" value="Detalji" onclick='showDetails("@Html.Raw(@Url.Action("PrikaziDetalje","MjesecniPlan",new { id = item.ID_plan, id_god = Model.ID_GODINA }))")' />
						<a data-toggle="modal" data-url="@Html.Raw(@Url.Action("Delete","MjesecniPlan",new { id = item.ID_plan, id_god = Model.ID_GODINA }))" id="deleteAsset" class="btn btn-danger btn-xs ">Briši</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
<script>
	function showDetails(value)
	{
		$.ajax({
			url: value,
			success: function (data, text) {
				$("#content").html(data);
			},
			error: function (request, status, error) {
				alert(request.responseText);
			}
		});
	}
</script>


