@model Planiranje.Models.MjesecniModel

@{
	Page.Title = ViewBag.Title;
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">@ViewBag.Title</h4>
		</div>
		@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "UrediNoviDetaljModalView", @class = "form-horizontal", role = "form" }))
		{
			<div class="modal-body">
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.HiddenFor(model => model.MjesecniPlan.ID_plan)
				@Html.HiddenFor(model => model.ID_PLAN)
				@Html.HiddenFor(model => model.ID_GODINA)
				@Html.HiddenFor(model => model.mjesecniDetalj.ID)
				@for (int i = 0; i < Model.GodisnjiPlanovi.Count(); i++)
				{
					@Html.HiddenFor(model => model.GodisnjiPlanovi[i].Text)
					@Html.HiddenFor(model => model.GodisnjiPlanovi[i].Value)
				}
				@for (int i = 0; i < Model.PodrucjaRada.Count(); i++)
				{
					@Html.HiddenFor(model => model.PodrucjaRada[i].Text)
					@Html.HiddenFor(model => model.PodrucjaRada[i].Value)
				}
				@for (int i = 0; i < Model.Subjekti.Count(); i++)
				{
					@Html.HiddenFor(model => model.Subjekti[i].Text)
					@Html.HiddenFor(model => model.Subjekti[i].Value)
				}
				@for (int i = 0; i < Model.Aktivnosti.Count(); i++)
				{
					@Html.HiddenFor(model => model.Aktivnosti[i].Text)
					@Html.HiddenFor(model => model.Aktivnosti[i].Value)
				}
				<div class="form-group">
					<div class="col-md-12">
						@Html.LabelFor(model => model.PodrucjaRada)
					</div>
					<div class="col-md-7">
						@Html.TextAreaFor(model => model.mjesecniDetalj.Podrucje, new { @class = "edit-opis-detalji", id = "podRada" })
						@Html.ValidationMessageFor(model => model.mjesecniDetalj.Podrucje, "", new { @class = "text-danger" })
					</div>
					<div class="col-md-3">
						@Html.DropDownList("PodrucjaRada", Model.PodrucjaRada, new { @class = "form-control", id = "podrucjeDD" })
					</div>
					<div class="col-md-1">
						<input type="button" class="btn btn-primary" onclick="PridruziPodrucjeRada()" value="+" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						@Html.LabelFor(model => model.Aktivnosti)
					</div>
					<div class="col-md-7">
						@Html.TextAreaFor(model => model.mjesecniDetalj.Aktivnost, new { @class = "edit-opis-detalji", id = "akt" })
						@Html.ValidationMessageFor(model => model.mjesecniDetalj.Aktivnost, "", new { @class = "text-danger" })
					</div>
					<div class="col-md-3">
						@Html.DropDownListFor(model => model.Aktivnosti, Model.Aktivnosti, new { @class = "form-control", id = "aktivnostDD" })
					</div>
					<div class="col-md-1">
						<input type="button" class="btn btn-primary" onclick="PridruziAktivnost()" value="+" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						@Html.LabelFor(model => model.Subjekti)
					</div>
					<div class="col-md-7">
						@Html.TextAreaFor(model => model.mjesecniDetalj.Suradnici, new { @class = "edit-opis-detalji", id = "subj" })
						@Html.ValidationMessageFor(model => model.mjesecniDetalj.Suradnici, "", new { @class = "text-danger" })
					</div>
					<div class="col-md-3">
						@Html.DropDownListFor(model => model.Subjekti, Model.Subjekti, new { @class = "form-control", id = "subjektDD" })
					</div>
					<div class="col-md-1">
						<input type="button" class="btn btn-primary" onclick="PridruziSubjekt()" value="+" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-7">
						@Html.LabelFor(model => model.mjesecniDetalj.Vrijeme)
						@Html.EditorFor(model => model.mjesecniDetalj.Vrijeme, new { htmlAttributes = new { @class = "form-control ", PlaceHolder = "" } })
						@Html.ValidationMessageFor(model => model.mjesecniDetalj.Vrijeme, "", new { @class = "text-danger" })
					</div>
					<div class="col-md-5">
						@Html.LabelFor(model => model.mjesecniDetalj.Br_sati)
						@Html.EditorFor(model => model.mjesecniDetalj.Br_sati, new { htmlAttributes = new { @class = "form-control ", PlaceHolder = "" } })
						@Html.ValidationMessageFor(model => model.mjesecniDetalj.Br_sati, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						@Html.LabelFor(model => model.mjesecniDetalj.Biljeska)
					</div>
					<div class="col-md-12">
						@Html.TextAreaFor(model => model.mjesecniDetalj.Biljeska, new { @class = "edit-opis", id = "podRada" })
						@Html.ValidationMessageFor(model => model.mjesecniDetalj.Biljeska, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
				<input type="button" class="btn btn-primary" value="Spremi" onclick='hideModal("/MjesecniPlan/UpdateNoviDetalji", "#UrediNoviDetaljModalView", "Detalji uspješno promjenjeni")' />
			</div>
		}
	</div>
</div>



<script type="text/javascript">
	function PridruziPodrucjeRada() {
		var podrucje = document.getElementById("podrucjeDD");
		var Text = podrucje.options[podrucje.selectedIndex].text;
		var podRadaTxt = document.getElementById('podRada');
		if (podRadaTxt.value.length == 0) {
			podRadaTxt.value = Text;
		}
		else {
			podRadaTxt.value = podRadaTxt.value + ", " + Text;
		}
	};
</script>
<script type="text/javascript">
	function PridruziAktivnost() {
		var podrucje = document.getElementById("aktivnostDD");
		var Text = podrucje.options[podrucje.selectedIndex].text;
		var podRadaTxt = document.getElementById('akt');
		if (podRadaTxt.value.length == 0) {
			podRadaTxt.value = Text;
		}
		else {
			podRadaTxt.value = podRadaTxt.value + ", " + Text;
		}
	};
</script>
<script type="text/javascript">
	function PridruziSubjekt() {
		var podrucje = document.getElementById("subjektDD");
		var Text = podrucje.options[podrucje.selectedIndex].text;
		var podRadaTxt = document.getElementById('subj');
		if (podRadaTxt.value.length == 0) {
			podRadaTxt.value = Text;
		}
		else {
			podRadaTxt.value = podRadaTxt.value + ", " + Text;
		}
	};
</script>

<script type="text/javascript">
	function ValidateNumber(e) {
		var evt = (e) ? e : window.event;
		var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
		if (charCode > 31 && (charCode < 48 || charCode > 57)) {
			return false;
		}
		return true;
	};
</script>

