<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>@Page.Title</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="~/assets/css/main.css" />
	<link rel="stylesheet" href="~/assets/css/theme.css" />
	<link rel="stylesheet" href="~/assets/css/MoneAdmin.css" />
	<link rel="stylesheet" href="~/assets/plugins/Font-Awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="~/assets/plugins/dataTables/dataTables.bootstrap.css" />
	<link rel="stylesheet" href="~/Content/Custom.css" />
</head>
<body class="padTop53 ">
	<div id="wrap">
		<div id="top">
			<nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
				<a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
					<i class="icon-align-justify"></i>
				</a>
				<header class="navbar-header">
					<a onclick="location.href='@Url.Action("Index", "Planiranje")'" class="navbar-brand pointer">
						<img src="~/assets/img/logo.png" alt="" />
					</a>
				</header>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="#"><i class="icon-user"></i> Korisnički profil </a>
							</li>
							<li>
								<a href="#"><i class="icon-gear"></i> Osobne postavke </a>
							</li>
							<li class="divider"></li>
							<li>
								<a data-toggle="modal" data-target="#odjava" class="pointer"><i class="icon-signout"></i> Odjava </a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<a class="btn btn-primary" data-toggle="modal" data-target="#odjava">
				Launch demo modal
			</a>
			<div class="modal fade" id="odjava" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<h4 class="modal-title" id="exampleModalLongTitle">Jeste li sigurni da se želite odjaviti?</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
							<button onclick="location.href='@Url.Action("Prijava", "Planiranje")'" type="button" class="btn btn-danger">Odjavi</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		@Html.Partial("../Shared/Navigation")
		<div id="content">
			@RenderBody()
		</div>
	</div>
	@Html.Partial("../Shared/Footer")
	<script src="~/assets/plugins/jquery-2.0.3.min.js"></script>
	<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
	<script src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
	<script>
		$(document).ready(function () {
			$('#dataTables-example').dataTable();
		});
	</script>
</body>
</html>
