@model Planiranje.Models.Ucenici.Mjesecna_biljeska
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Nova bilješka</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "novaBiljeska", @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(model => model.Id, new { Value = 0})
            @Html.HiddenFor(model => model.Id_ucenik_biljeska, new { Value = ViewBag.id })            
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Mjesec, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @*@Html.EditorFor(model => model.Napomena, new { htmlAttributes = new { @class = "form-control" } })*@
                        <select class="form-control" data-val="true" data-val-number="The field Mjesec must be a number." data-val-required="Obavezno polje" id="Mjesec" name="Mjesec">
                            @foreach(var item in ViewBag.mjeseci as List<string>)
                            {
                                if (ViewBag.selected != null && (ViewBag.selected as string).CompareTo(item) == 0)
                                {
                                    <option selected value="@item">@item</option>
                                }
                                else
                                {
                                <option value="@item">@item</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Mjesec, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Biljeska, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Biljeska, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Biljeska, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                    <input type="button" class="btn btn-primary" value="Spremi" onclick='zatvoriModal("@Url.Action("NovaBiljeska","UcenikBiljeska")","#novaBiljeska","#biljeska","Nova bilješka je spremljena")' />
                </div>
            </div>
        }
    </div>
</div>
