@model Planiranje.Models.SubjektiModel

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Novi subjekt</h4>
        </div>
        @using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post, new { @id = "noviSubjektView", @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.subjekt.ID_subjekt, new { Value = 0 })
                <div class="form-group">
                    @Html.LabelFor(model => model.subjekt.Naziv, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.subjekt.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.subjekt.Naziv, "", new { @class = "text-danger" })
                    </div>
                </div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
					<input type="button" class="btn btn-primary" value="Spremi" onclick='hideModal("/Subjekti/NoviSubjekt", "#noviSubjektView", "Nova subjekt je uspješno spremljen!")' />
				</div>
            </div>
        }
    </div>
</div>